@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/static/Montserrat-Regular.ttf") format('truetype'),
       url("fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fraunces';
  src: url("fonts/Fraunces/static/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format('truetype'),
    url("fonts/Fraunces/static/Fraunces_72pt_Soft-Bold.ttf") format('truetype');
}

body{
    background-color: hsl(30, 38%, 92%);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Montserrat ;
    position: relative;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 480px;
}
.texts-container{
    padding: 32px;
    width:320px;
    height:480px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
img{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
#big-title{
    color: hsl(158, 42%, 18%);
    font-family: Fraunces;
    font-weight: 200;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 35px;
}
#big-price{
    color:hsl(158, 36%, 37%);
    font-family: Fraunces;
    font-size: 28px;
    font-weight: bold;
}
.buy{
    width: 260px;
    height: 50px;
    font-family: Montserrat;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    gap: 10px; /* فاصله بین آیکن و متن */
    transition: background-color 0.2s ease;
}
.buy:hover{
    background-color:hsl(158, 42%, 18%);
    cursor: pointer;
}
.gray-font{
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
}
.attribution {
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 10px; /* فاصله از پایین */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* نسخه موبایل */
@media (max-width: 375px) {
  body {
    height: auto;
    flex-direction: column;
    padding: 20px;
  }

  .container {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }

  .texts-container {
    width: 100%;
    height: auto;
    border-radius: 0 0 10px 10px;
  }

  #big-title {
    font-size: 28px;
  }

  #big-price {
    font-size: 28px;
  }

  .buy {
    width: 100%;
  }
  .buy img{
    width: 15px;
    height: 16px;
  }
  .attribution {
    position: static; /* تا زیر محتوا بیاد */
    transform: none;
    margin-top: 20px;
  }
}